<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{fragments/header :: ShopHeader}"></header>
<div class="registration-container">
    <div th:if="${param.error}" class="col-sm-8">
        <p class="alert alert-danger alert-dismissible fade show" role="alert" style="color: red;">
            Invalid username or password</p>
    </div>
    <div th:if="${param.reset_success}" class="col-sm-8">
        <p class="alert alert-info alert-dismissible fade show" role="alert" style="color: blue;">
            You have successfully reset your password, please log in here.</p>
    </div>
    <div th:if="${param.verified}" class="col-sm-8" >
        <p class="alert alert-info alert-dismissible fade show" role="alert" style="color: green;">
            This account has already been verified,  please log in here.</p>
    </div>
    <div th:if="${param.valid}" class="col-sm-8">
        <p class="alert alert-info alert-dismissible" style="color: green;">
            Email verified successfully, please log in here.</p>
    </div>
    <div th:if="${param.logout}" class="col-sm-8">
        <p class="alert alert-warning">You have been logged out.</p>
    </div>
    <br />
    <div class="registration-form">
        <h2>Sign In</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br />
            <br />
            <button class="register-button" name="login" id="login" type="submit">Log In</button>
            <br />
            <span> Not registered yet? <a href="/" th:href="@{/registration/register-form}">Register here.</a>
            </span>
        </form>
    </div>
</div>
</body>
</html>
